// Default variable overrides
$primary: #352f44;

.min-h-screen {
  height: 100vh;
}

.card-product {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@import "../../node_modules/bootstrap/scss/bootstrap";
