.hero-section {
  height: max-content;
}

.style-section {
  padding: 30px;
}

.card-style {
  height: 200px;
  background-size: cover;
  background-color: white;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.card-style h5 {
  margin: 40px;
  font-size: 28px;
  font-weight: 700;
}

.link-footer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.link-footer a {
  color: white;
}

.card-product {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.card-product:hover {
  border: 1px solid lightgray;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.hero-title {
  font-size: 36px;
}

.subscriber-section {
  padding: 20px;
}

.subscriber-input {
  width: 100%;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
  .hero-section {
    height: 670px;
  }
  .hero-title {
    font-size: 70px;
  }
  .subscriber-section {
    padding: 20px 50px;
  }
  .subscriber-input {
    width: 30%;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  .hero-section {
    height: 670px;
  }
  .hero-title {
    font-size: 70px;
  }
  .style-section {
    padding: 40px 64px;
  }
  .subscriber-section {
    padding: 20px 50px;
  }
  .subscriber-input {
    width: 30%;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS */
  .subscriber-section {
    padding: 20px 50px;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* CSS */
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  /* CSS */
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  /* CSS */
}
